doctype html
html
  head
    title= title
    meta(name='viewport', content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    if 'prod' == process.env.NODE_ENV
      script(src='/js/bundle.js')
    else
      script(src='http://localhost:8080/bundle.js')