doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script(src='http://localhost:8080/bundle.js')
